<p>Crear <%= link_to "Nuevo Estudiante", "/students/new" %>:</p>
<p>Lista completa de estudiantes:</p>

<% @students.each do |student| %>
  <div><%= link_to(student.name, "/students/#{student.id}") %></div>
<% end %>
