<p>Aquí se mostrará informacion:</p>
<p>Link para crear un <%= link_to "Nuevo Estudiante", "/students/new" %>:</p>

<% @teachers.each do |teacher| %>
  <div><%= link_to(teacher.name, "/teachers/#{teacher.id}") %></div>
<% end %>

<p>---------------------------------------------------</p>
<div><%= link_to "students index", "/students" %></div>
<div><%= link_to "subjects index", "/subjects" %></div>
