<p>Aquí se mostrará la lista de profesores:</p>
<p>Link para crear un <%= link_to "Nuevo Profesor", "/teachers/new" %>:</p>

<% @teachers.each do |teacher| %>
  <div><%= link_to(teacher.name, "/teachers/#{teacher.id}") %></div>
<% end %>