<h3>To create a new teacher, the next form wont work</h3>
<h3>sign in for a new user instead</h3>
<%= form_for @teacher do |f| %>
  <div>Nuevo profesor:</div>
  Nombre: <%= f.text_field :name %>
  Foto: <%= f.file_field :pic %>    
  <%= f.submit %>
<% end %>